body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #333333;
    position: absolute;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    /* margin: 0; */
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: -15px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    /* position: fixed;
    top: 0;
    width: 100%;*/
    padding-left: 15px;
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #f5e1c0;
    text-align: center;
    /* -webkit-text-stroke-width: .3px;
    -webkit-text-stroke-color: black; */
    font-weight: 800;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #2c2c2c;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
  }

.active {
    background-color: #fa6429;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    font-style: italic;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    /* text-shadow: 1.5px .5px 0.5px black; */
    color: #f98d64;
    background-color: #686767;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-width: 5px;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

.hero {
    flex: 1 1 auto;
}

.opener {
    background-color: #f4d9af;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #f98d64;
    /* text-shadow: .3px .3px 0.5px #f98d64; */
    padding: 3%;
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 70px;
    margin-bottom: 200px;
    border-radius: 50px 50px 50px 50px;
}

.begin {
    font-size: 40px;
    color: #f98d64;
    font-weight: 700;
    /* text-shadow: 1.5px .5px 0.5px black; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.name {
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    /* text-shadow: .5px .5px 0.5px black; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.background {
    background-color: #f4d9af;
    color: #475c0d;
    padding-top: 1px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px 20px 20px 20px;
}

.adjust-font {
    font-size: 20px;
    font-weight: 500;
}

.img {
    height: auto;
    width: 50;
    opacity: 1;
    display: inline-flex;
}

.img:hover {
    opacity: 0.5;
}