body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #333333;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    font-style: italic;
    text-shadow: 1.5px .5px 0.5px black;
    color: #f98d64;
    background-color: #686767;
    padding: 5%;
    border-width: 5px;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-right: -5px;
    margin-left: -5px;
}

.opener {
    background-color: #e27b53;
    color: #f5e1c0;
    font-size: 20px;
    font-weight: 700;
    text-shadow: .3px .3px 0.5px black;
    padding: 3%;
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 70px;
    margin-bottom: 200px;
    border-radius: 50px 50px 50px 50px;
}

.begin {
    font-size: 40px;
    background-color: #686767;
    color: #f98d64;
    font-weight: 700;
    text-shadow: 1.5px .5px 0.5px black;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.name {
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    text-shadow: .5px .5px 0.5px black;
}

.background {
    background-color: #f4d9af;
    color: #475c0d;
    padding-top: 1px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px 20px 20px 20px;
}

.adjust-font {
    font-size: 20px;
    font-weight: 500;
}

.img {
    height: auto;
    width: 50;
    opacity: 1;
}

.img:hover {
    opacity: 0.5;
}